.linkCard {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-decoration: none;
  

  .cardCharacter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: solid 1px gold;
    border-radius: 20px;
    background-color: gold;
    padding: 10px;
    padding-bottom: 10px;
    

    &__img {
    width: 150px;
    border-radius: 20px;
    margin-bottom: 10px;
    align-items: center;
    }

    &__name{
      font-size: 1.1rem;
      font-weight: bold;
    }
  }
}
